@model AuctionPortal.BusinessLayer.DataTransferObjects.ProductDto

@{
    ViewBag.Title = "Product detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product details</h2>

@using (Html.BeginForm())
{
    if (!Request.IsAuthenticated)
    {
        Response.Redirect("~/User/NotLoggedIn");
    }

    @Html.AntiForgeryToken()
<div>
    <div class="row">
        <h5 class="col-md-2 col-md-offset-1">Name:</h5>
        <h5 class="col-md-6">@Model.Name</h5>
    </div>

    <div class="row">
        <h5 class="col-md-2 col-md-offset-1">Category:</h5>
        <h5 class="col-md-6">@Model.Category.Name</h5>
    </div>

    <div class="row">
        <h5 class="col-md-2 col-md-offset-1">Minimal bid:</h5>
        <h5 class="col-md-6">@Model.MinimalBid</h5>
    </div>

    <div class="row">
        <h5 class="col-md-2 col-md-offset-1">Start price:</h5>
        <h5 class="col-md-6">@Model.StartPrice</h5>
    </div>

    <div class="row">
        <h5 class="col-md-2 col-md-offset-1">Actual price:</h5>
        <h5 class="col-md-6">@Model.ActualPrice</h5>
    </div>

    <div class="row">
        <h5 class="col-md-2 col-md-offset-1">Info:</h5>
        <h5 class="col-md-6">@Model.Info</h5>
    </div>

    <div class="row">
        <h5 class="col-md-2 col-md-offset-1">Availible to:</h5>
        <h5 class="col-md-6">@Model.ValidTo.ToShortDateString()</h5>
    </div>

    <div>
        <p class="btn btn-default"> @Html.ActionLink("Seller detail", "Details", "User", new { id = Model.SellerId.ToString() }, null) </p>
    </div>

    @if (Model.IsSold)
    {
        <h2>Product is Sold</h2>
    }
    else
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Bid.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bid.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bid.Price, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-offset-2 col-md-20">
                <input type="submit" value="Create bid" class="btn btn-default" name="action:createBid" />
            </div>
        </div>
    }
</div>
}


