@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    @if (Request.IsAuthenticated)
    {
    <div class="jumbotron">
        <p class="lead">
            <h3>Welcome back to the best auction portal @(User.Identity.Name)! </h3>
        </p>
        <p class="btn btn-default"> @Html.ActionLink("Show my Profile", "ShowMyProfile", "User")  </p>
        <p class="btn btn-default"> @Html.ActionLink("Create new Product", "CreateNewProduct", "Products")  </p>
        <p class="btn btn-default"> @Html.ActionLink("Create new category", "Create", "Home")  </p>
        <p class="btn btn-default"> @Html.ActionLink("Products", "Index", "Products")  </p>
    </div>
    }
    else
    {
        <div class="jumbotron">
            <h1>Auction Portal</h1>
            <p class="lead">Professionaly made auction portal, that works like a charm.</p>
        </div>

        <p>Welcome to the best auction portal, where you can buy or sell anything.</p>
        <p>Please Log in or Register.</p>
        <p class="btn btn-default">  @Html.ActionLink("Log in", "Login", "Account") </p>
        <p class="btn btn-default"> @Html.ActionLink("Register", "Register", "Account")  </p>
        
    }
</div>